@use "../../styles/partials/variables" as *;
@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;

.video {
  width: 320px;
  background-color: $mercury;

  @include tablet {
    width: 768px;
    background-color: $black;
  }
}
