@use "../../styles/partials/variables" as *;
@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;

.video {
  &__poster {
    min-width: 320px;
    height: 56vw;
    background-color: $mercury;

    @include tablet {
      height: 400px;
      width: 100vw;
      background-color: $darkblack;
    }
  }
}
