@use "../../styles/partials/variables" as *;
@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;

.video {
  &__poster {
    min-width: 20rem;
    height: 56vw;
    background-color: $mercury;

    @include tablet {
      height: 25rem;
      width: 100vw;
      background-color: $darkblack;
    }

    @include desktop {
      height: 30rem;
    }
  }
}
