@font-face {
  font-family: "Avenir Next Reg";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

//COLORS
//Primary

$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

//Secondary
$darkblack: #000000;
$darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
