@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../App.scss" as *;

.about-video {
  padding: 24px 16px 16px 16px;
  text-align: left;
  min-width: 320px;

  &__title {
    @include mpg-header;
    padding-bottom: 16px;
    border-bottom: 1px solid $mercury;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $mercury;
  }

  &__list-i {
    width: 50%;

    &--bold {
      font-weight: bold;
      padding-bottom: 16px;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__description {
    @include mbody;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $black;
  }
}
