@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../App.scss" as *;

.about-video {
  padding: 24px 16px 16px 16px;
  text-align: left;
  min-width: 20rem;

  @include tablet {
    padding: 36px 24px 24px 24px;
  }

  @include desktop {
    padding-right: 0;
  }

  &__title {
    @include mpg-header;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      @include tdpg-header;
      border-bottom: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      @include tdbody;
      flex-wrap: wrap-reverse;
      align-self: center;
      color: $silver;
      :nth-of-type(4) {
        order: 1;
        @include desktop {
          justify-content: space-around;
          margin-right: 1.5rem;
        }
      }
      :nth-of-type(2) {
        order: 1;
        margin-left: 40%;
      }
    }
  }

  &__list-i {
    width: 50%;
    color: $silver;
    @include mbody;

    @include tablet {
      width: 5rem;
      display: flex;
      justify-content: space-between;
      align-self: center;
    }

    &--bold {
      padding-bottom: 1rem;
      @include msub-header;
      color: $black;

      @include tablet {
        display: flex;
        align-self: center;
        padding: 0;
        @include tdsub-header;
      }
    }
  }

  &__icon {
    margin-right: 0.625rem;
  }

  &__description {
    @include mbody;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $black;

    @include tablet {
      @include tdbody;
    }

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__count {
    @include msub-header;
    color: $black;
    padding: 0;

    @include tablet {
      @include tdsub-header;
    }

    @include desktop {
      padding-top: 1rem;
    }
  }
}
