@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../App.scss" as *;

h3 {
  @include mbody;
  padding-bottom: 1.5rem;
  color: $silver;

  @include tablet {
    @include tdbody;
  }
}

a {
  padding: 0;
}

p {
  color: $black;
}

.next {
  padding: 24px 16px 16px 16px;
  min-width: 20rem;

  @include tablet {
    padding: 36px 24px 24px 24px;
    width: 21.5rem;
  }

  @include desktop {
    margin-right: 0;
    padding-right: 0;
    border-left: 1px solid $mercury;
  }

  &__indv-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__img {
    border-radius: 0.25rem;
    width: 7.5rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    margin-right: 1rem;

    @include tablet {
      margin-right: 0;
    }
  }

  &__names {
    @include mbody;
    width: 9.375rem;

    @include tablet {
      margin-left: 1.5625rem;
    }

    @include desktop {
      width: 10.9375rem;
    }
  }

  &__video-title {
    @include msub-header;
    color: $black;
    line-height: 1rem;
    max-height: 2rem;
    overflow: hidden !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-bottom: 1.125rem;

    @include tablet {
      @include tdsub-header;
      max-height: 2.5rem;
      -webkit-box-orient: unset;
    }

    @include desktop {
      width: 75%;
    }
  }
}
