@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../App.scss" as *;

.search {
  margin-right: 5%;

  &__bar {
    height: 36px;
    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 5%;
    padding-left: 2.5rem;
    border-radius: 4px;
    border: 1px solid $mercury;
    background-color: $alabaster;
    width: 237px;
    margin-bottom: 16px;

    &::placeholder {
      color: $black;
    }

    @include tablet {
      height: 40px;
      margin-bottom: 0;
    }
  }
}
