@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upl-form {
  &__lbl {
    @include mlabel-btn;
    color: $silver;
  }

  &__box {
    height: 40px;
    width: 300px;
    border-radius: 4px;
    background-color: $alabaster;
    border-color: $mercury;
    padding-left: 10px;
    outline-color: $blue;

    &::placeholder {
      color: $black;
      font-family: "Avenir Next Reg";
    }
  }

  &__txt-box {
    height: 60px;
    width: 300px;
    border-radius: 4px;
    border-color: $mercury;
    background-color: $alabaster;
    outline-color: $blue;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    font-family: "Avenir Next Reg";

    &::placeholder {
      color: $black;
      font-family: "Avenir Next Reg";
    }
  }

  &__btn {
    height: 40px;
    width: 150px;
    background-color: $blue;
    color: $white;
  }
}
