@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../App.scss" as *;

.comments {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  border-bottom: 1px solid $mercury;

  @include tablet {
    margin-left: 24px;
    margin-right: 24px;
    min-width: 768px;
    padding-bottom: 24px;
  }

  //Comments Form
  &__form {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 685px;
      position: relative;
    }
  }

  //Join Convo Label
  &__label {
    @include mlabel-btn;
    color: $silver;
    margin-left: 16px;
    margin-bottom: 4px;
  }

  //Comment Txt Area
  &__field {
    border-color: $mercury;
    border-radius: 4px;
    background-color: $alabaster;
    resize: none;
    margin-left: 16px;
    height: 100px;
    width: 236px;
    padding: 10px;
    font-family: "Avenir Next Reg";

    @include tablet {
      height: 40px;
      width: 63%;
    }

    &::placeholder {
      color: $black;
      font-family: "Avenir Next Reg";
    }

    &:active {
      border-color: $blue;
    }
  }

  //Comments Avatar
  &__avatar {
    @extend .nav__avatar;
    margin-top: 20px;
    margin-left: 0;
  }

  //Comment Icon
  &__icon {
    position: relative;
    right: 65px;

    @include tablet {
      right: 50px;
    }
  }

  //Comment Btn
  &__btn {
    @include mlabel-btn;
    border-style: unset;
    border-radius: 4px;
    background-color: $blue;
    color: $white;
    margin: 16px;
    height: 40px;
    width: 236px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 210px;
      position: absolute;
      left: 67%;
      top: 11.5%;
    }
  }
}
