@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Mobile

//NAVIGATION BAR
a {
  display: flex;
  align-self: center;
}

.nav {
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 20rem;

  @include tablet {
    padding: 36px 24px 24px;
    min-width: 48rem;
    justify-content: space-between;
    flex-direction: row;
  }

  @include desktop {
    margin: 0 auto;
    width: 83.875%;
  }

  //BrainFlix Logo
  &__logo {
    height: 1.5625rem;
    width: 7.5rem;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0;
    }
  }

  //Upload Icon
  &__icon {
    position: relative;
    right: 100px;

    @include tablet {
      right: 1.875rem;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      flex-wrap: nowrap;
      align-items: center;
      gap: 1.5rem;
    }
  }

  //Upload Btn
  &__btn {
    @include mlabel-btn;
    background-color: $blue;
    color: $white;
    border-radius: 0.25rem;
    border-style: unset;
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $darkblue;
      cursor: pointer;
    }

    @include tablet {
      width: 9.375rem;
      @include tdlabel-btn;
    }
  }

  //Avatar
  &__avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      order: 1;
    }
  }
}

//Desktop - Get videos on the side
.main {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}
.main__content {
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 57%;
    border-right: 1px solid $mercury;
  }
}
