@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Mobile

//NAVIGATION BAR
.nav {
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 320px;

  //BrainFlix Logo
  &__logo {
    height: 25px;
    width: 120px;
    margin-bottom: 16px;
  }

  //Upload Icon
  &__icon {
    position: relative;
    right: 100px;
  }

  //Upload Btn
  &__btn {
    @include mlabel-btn;
    background-color: $blue;
    color: $white;
    border-radius: 4px;
    border-style: unset;
    height: 40px;
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //Avatar
  &__avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
}
