@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  @include desktop {
    display: flex;
    justify-content: center;
  }

  .upload__content {
    @include desktop {
      display: flex;
      flex-direction: column;
      width: 57%;
      border-right: 1px solid $mercury;
    }
  }
}
